<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

  <connectionStrings>
    <add name="DBConnection"
         connectionString="Data Source=localhost;Initial Catalog=TEST;User Id=sa;Password=sa;"
         providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>